@keyframes link {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes darrow {
  from {
    transform: translateY(0) translateX(-50%);
  }
  to {
    transform: translateY(-10px) translateX(-50%);
  }
}

@keyframes slideControl {
  from {
    transform: translateY(-50%) scale(1);
  }
  to {
    transform: translateY(-50%) scale(1.2);
  }
}

@keyframes navbarIn {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes navbarOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110%);
  }
}

@keyframes navExpand {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.slideInLeft {
  animation: slideInLeft 1s both;
}

.slideOutLeft {
  animation: slideOutLeft 1s both;
}

.slideInRight {
  animation: slideInRight 1s both;
}

.slideOutRight {
  animation: slideOutRight 1s both;
}
